* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

/* COLORES */
:root {
    --fondoBackground: black;
    --colorBlanco: white;
    --colorNegro: black;
    --colorGrey: rgba(128,128,128);
    --fondoNegroTransparente: rgba(0, 0, 0, 0.7);
    --colorRojo: red;
    --fuenteTitulo: 'Space Mono', monospace;
    --fuenteCuerpo: 'Martian Mono', monospace;
    --torcerTitulo: -20deg;
}

html {
    scroll-behavior: smooth;
}

/* ------------------------------------------- */
/* ------------ Header: Logo y Nav ------------*/
/* --------------------------------------------*/

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--colorNegro);
}

/* LOGO */

header figure {
    text-align: left;
}

header figure img {
    width: 550px;
}

/* NAV */

header nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

header nav li {}

header nav ul li a {
    display: block;
    padding: 40px 10px;

    text-decoration: none;
    letter-spacing: 1px;
    font-size: 18px;
    color: var(--colorBlanco);
    font-weight: bold;
    text-transform: uppercase;
    font-family: var(--fuenteTitulo);
    font-style: italic;
}

header nav ul li a:hover {
    color: var(--colorRojo);
    border-top: 5px solid var(--colorRojo);
}


/* -------------------------------------------------- */
/* ---------- Section 1 - FOTO PRINCIPAL ------------*/
/* -------------------------------------------------- */

main section:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
    text-align: center;
    height: 800px;
}

main section:nth-of-type(1) {
    background-image: url("../img/header2.jpg");
    background-size: 1900px;
    background-attachment: fixed;
    background-position: 0px -250px ;
    padding: 0 0 400px 0;
}

/* Contenido dentro de la foto */

section:nth-of-type(1) h1,
section:nth-of-type(1) p {
    width: 80%;
    background-color: var(--fondoNegroTransparente);
    font-family: var(--fuenteTitulo);
    font-style: italic;
}


section:nth-of-type(1) h1 {
    color: var(--colorRojo);

    margin-top: 20%;
    font-size: 60px;
    text-transform: uppercase;
    border-radius: 10px 10px 0 0;

}

section:nth-of-type(1) p {
    color: var(--colorBlanco);
    font-size: 20px;
    border-radius: 0 0 10px 10px;
    margin-bottom: 15px;
}

abbr {
    text-decoration: none;
}

section:nth-of-type(1) form input {
    background-color: var(--fondoNegroTransparente);
    color: var(--colorBlanco);
    padding: 10px;
    border-radius: 15px;
    font-family: var(--fuenteTitulo);
    border: 1px solid var(--colorBlanco);
}

section:nth-of-type(1) form input:hover {
    color: var(--colorNegro);
    background-color: var(--colorBlanco);
    border: 1px solid var(--colorNegro);
}

section:nth-of-type(1) input[type="email"] {
    margin: 0;
    width: 300px;
    display: block;
    }
section:nth-of-type(1) input[type="email"]::placeholder {
    color: var(--colorBlanco);
}
section:nth-of-type(1) input[type="email"]:hover::placeholder{
    color: var(--colorNegro);
}

section:nth-of-type(1) input[type="submit"] {
}

section:nth-of-type(1) form {
    text-align: center;
}




/* -------------------------------------------------------- */
/* -----------Section 2: Productos destacados gr -----------*/
/* -------------------------------------------------------- */



section:nth-of-type(2) {
    text-align: center;
    font-family: var(--fuenteCuerpo);

    color: var(--colorNegro);

    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: repeat(4, auto);

    grid-template-areas:
        "s2titulo s2titulo s2titulo"
        "s2p s2p s2p"
        "s2a1 s2a2 s2a3"
        "s2a s2a s2a";

    justify-content: center;
}

/* -------- TITULO GR LINEUP ---------- */
section:nth-of-type(2) h1 {
    grid-area: s2titulo;

    font-family: var(--fuenteTitulo);
    text-transform: uppercase;
    font-size: 50px;

    margin: 20px auto;
    padding-left: 10px;
    border-left: 10px solid var(--colorRojo);
    transform: skew(var(--torcerTitulo));
}

section:nth-of-type(2) p {
    grid-area: s2p;
    margin-bottom: 10px;
}

/* --------- Productos -------------- */

section:nth-of-type(2) article h2,
section:nth-of-type(2) article h3,
section:nth-of-type(2) article p {
    text-align: start;
    border-left: 1px solid var(--colorNegro);
    border-right: 1px solid var(--colorNegro);
}

section:nth-of-type(2) article:nth-of-type(2) h2,
section:nth-of-type(2) article:nth-of-type(2) h3,
section:nth-of-type(2) article:nth-of-type(2) p {
    border-left: 1px solid var(--colorBlanco);
    border-right: 1px solid var(--colorBlanco);
    /* Para anular el que se le creaba a el porque sino quedaba mas gruesa la linea */
}

section:nth-of-type(2) article figure img {
    width: 400px;
}

section:nth-of-type(2) article:nth-of-type(1) {
    grid-area: s2a1;
}

section:nth-of-type(2) article:nth-of-type(2) {
    grid-area: s2a2;
}

section:nth-of-type(2) article:nth-of-type(3) {
    grid-area: s2a3;
}

section:nth-of-type(2) a {
    grid-area: s2a;
    margin: 54px auto;
    padding: 10px;

    text-decoration: none;
    color: var(--colorBlanco);
    border-radius: 10px;
    background-color: var(--fondoNegroTransparente);
}

section:nth-of-type(2) a:hover {
    background-color: var(--colorRojo);
}

section:nth-of-type(2) article figure img,
section:nth-of-type(2) article h2,
section:nth-of-type(2) article h3,
section:nth-of-type(2) article p {
    padding: 5px;
}

section:nth-of-type(2) article p {
    min-height: 100px;
}

/* ----------------------------------------- */
/* -----------Section 3: Noticias -----------*/
/* ----------------------------------------- */

section:nth-of-type(3) {
    border-top: 2px solid black;
    padding-top: 20px;
    padding-bottom: 70px;

    text-align: center;
    font-family: var(--fuenteCuerpo);

    color: var(--colorNegro);

    display: grid;
    grid-template-columns: 600px 600px;
    grid-template-rows: auto auto 200px 200px;

    grid-template-areas:
        "titulo titulo"
        "p p"
        "foto1 foto2"
        "foto1 foto3";

    justify-content: center;
    row-gap: 20px;

    column-gap: 15px;
}

/* -------- TITULO NOTICIAS ---------- */
section:nth-of-type(3) h1 {
    grid-area: titulo;

    font-family: var(--fuenteTitulo);
    text-transform: uppercase;
    font-size: 50px;

    margin: 0px auto;
    padding-left: 10px;
    border-left: 10px solid var(--colorRojo);
    transform: skew(var(--torcerTitulo));
}

section:nth-of-type(3) p {
    grid-area: p;
}

section:nth-of-type(3) article span{
    background-color: var(--colorGrey);
    border-radius: 5px;
    padding: 5px 15px 5px 15px;
}

section:nth-of-type(3) article{
    text-align: justify;
}
section:nth-of-type(3) article h2{
    text-align: left;
}

section:nth-of-type(3) article:nth-of-type(1) {
    grid-area: foto1;
}
section:nth-of-type(3) article:nth-of-type(1) figure img {
    width: 100%;
}
/* Articulo 1 */
section:nth-of-type(3) article:nth-of-type(1) figure img,
section:nth-of-type(3) article:nth-of-type(1) h2,
section:nth-of-type(3) article:nth-of-type(1) p{
    padding-bottom: 15px;
}

/* Articulo 2 */
section:nth-of-type(3) article:nth-of-type(2){
    flex-grow: 1;
    display: flex;
}
section:nth-of-type(3) article:nth-of-type(2) figure{
    grid-area: foto2;
}
section:nth-of-type(3) article:nth-of-type(2) div{
    margin-left: 20px;
}
section:nth-of-type(3) article:nth-of-type(2) p{
    padding-top: 15px;
    padding-bottom: 15px;
}

/* Articulo 3 */
section:nth-of-type(3) article:nth-of-type(3){
    flex-grow: 1;
    display: flex;
}
section:nth-of-type(3) article:nth-of-type(3) figure{
    grid-area: foto3;
}
section:nth-of-type(3) article:nth-of-type(3) div{
    margin-left: 20px;
}
section:nth-of-type(3) article:nth-of-type(3) p{
    padding-top: 15px;
    padding-bottom: 15px;
}

/* ---------------------------------------- */
/* -----------Section 4: Galeria -----------*/
/* ---------------------------------------- */

section:nth-of-type(4) {
    text-align: center;
    font-family: var(--fuenteCuerpo);
    background-color: var(--colorGrey);

    color: var(--colorNegro);

    display: grid;
    grid-template-columns: repeat(4, 300px);
    grid-template-rows: auto auto repeat(3, 200px);

    grid-gap: 5px;

    grid-template-areas:
        "titulo titulo titulo titulo"
        "p p p p"
        "f1 f1 f5 f5"
        "f2 f3 f5 f5"
        "f2 f4 f6 f6";

    justify-content: center;
    padding-bottom: 30px;
}

/* -------- TITULO NOTICIAS ---------- */
section:nth-of-type(4) h1 {
    grid-area: titulo;

    font-family: var(--fuenteTitulo);
    text-transform: uppercase;
    font-size: 50px;

    margin: 20px auto;
    padding-left: 10px;
    border-left: 10px solid var(--colorRojo);
    transform: skew(var(--torcerTitulo));
}

section:nth-of-type(4) p {
    grid-area: p;
    margin-bottom: 10px;
}

/* Imagen en grilla */
section:nth-of-type(4) figure:nth-of-type(1) {
    grid-area: f1;
}

section:nth-of-type(4) figure:nth-of-type(2) {
    grid-area: f2;
}

section:nth-of-type(4) figure:nth-of-type(3) {
    grid-area: f3;
}

section:nth-of-type(4) figure:nth-of-type(4) {
    grid-area: f4;
}

section:nth-of-type(4) figure:nth-of-type(5) {
    grid-area: f5;
}

section:nth-of-type(4) figure:nth-of-type(6) {
    grid-area: f6;
}

/* Ajustar imagen a la grilla */
section:nth-of-type(4) figure:nth-of-type(1) img {
    object-position: 0 -100px;
}

section:nth-of-type(4) figure:nth-of-type(5) img {
    object-position: 0 0;
}

section:nth-of-type(4) figure:nth-of-type(6) img {
    object-position: 0 -40px;
}

section:nth-of-type(4) figure img {
    width: 100%;
    height: 100%;

    object-fit: cover;
    border: 2px solid var(--colorNegro);
}

/* ---------------------------------------- */
/* -----------Section 5: Contacto -----------*/
/* ---------------------------------------- */

section:nth-of-type(5) {
    text-align: center;
    font-family: var(--fuenteCuerpo);

    display: grid;

    grid-template-columns: repeat(2, 600px);
    grid-template-rows: repeat(3, auto);

    grid-template-areas:
        "titulo titulo"
        "p p"
        "formulario tabla";

    justify-content: center;
    column-gap: 15px;

    padding-bottom: 20px;
}

/* -------- TITULO NOTICIAS ---------- */
section:nth-of-type(5) h2 {
    grid-area: titulo;

    font-family: var(--fuenteTitulo);
    text-transform: uppercase;
    font-size: 50px;

    margin: 20px auto;
    padding-left: 10px;
    border-left: 10px solid var(--colorRojo);
    transform: skew(var(--torcerTitulo));
}

section:nth-of-type(5) p {
    grid-area: p;
    margin-bottom: 10px;
}

section:nth-of-type(5) form {
    grid-area: formulario;

    display: grid;

    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(4, auto);

    grid-template-areas:
        "nombre apellido"
        "celular pais"
        "comentario comentario"
        "boton boton";

    text-align: left;
    grid-gap: 10px 10px;

}

input[type="text"],
input[type="tel"],
select,
textarea {
    display: block;
}

section:nth-of-type(5) form fieldset:nth-of-type(1) {
    grid-area: nombre;
}

section:nth-of-type(5) form fieldset:nth-of-type(2) {
    grid-area: apellido;
}

section:nth-of-type(5) form fieldset:nth-of-type(3) {
    grid-area: celular;
}

section:nth-of-type(5) form fieldset:nth-of-type(4) {
    grid-area: pais;
}

section:nth-of-type(5) form fieldset:nth-of-type(5) {
    grid-area: comentario;
}

section:nth-of-type(5) form input[type="submit"] {
    grid-area: boton;
    width: 100%;
    padding: 5px;
    background-color: rgb(235, 235, 235);
    border: 1px solid var(--colorGrey);
}

section:nth-of-type(5) form input[type="submit"]:hover {
    background-color: var(--colorGrey);
    color: white;
    border: 1px solid black;
}

/* Ajusta el CSS para que los input ocupen todo el espacio disponible en la cuadrícula */
section:nth-of-type(5) form input[type="text"],
section:nth-of-type(5) form input[type="tel"],
section:nth-of-type(5) form select,
section:nth-of-type(5) form textarea {
    width: 100%;
    background-color: rgb(235, 235, 235);
    border: 1px solid var(--colorGrey);
    border-radius: 2px;
    padding: 5px;
}

textarea {
    resize: none;
}

section:nth-of-type(5) table {
    grid-area: tabla;
    border: 1px solid var(--colorNegro);
}

th,
td {
    border: 1px solid var(--colorNegro);
    padding: 5px;
}

th {
    background-color: var(--colorGrey);
}


/* ---------------------------------------- */
/* -----------------Footer -----------------*/
/* ---------------------------------------- */

footer {
    padding-top: 15px;
    color: var(--colorBlanco);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    justify-content: center;
    grid-template-areas:
        "p"
        "logos";

    background-color: var(--colorGrey)
}

footer ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

footer ul li {
    text-decoration: none;
    width: 32px;
    height: 32px;
    margin: 5px;

    background-image: url("../img/descarga.png");
    background-repeat: no-repeat;
}

footer ul li:nth-of-type(1) {
    background-position: 0 0;
}

footer ul li:nth-of-type(2) {
    background-position: -84px 0;
}

footer ul li:nth-of-type(1):hover {
    background-position: -42px 0;
}

footer ul li:nth-of-type(2):hover {
    background-position: -126px 0;
}

/* FLECHA INICIO */

footer figure {
    width: 32px;
    height: 32px;

    position: fixed;
    right: 50px;
    bottom: 50px;
}

/* Separacion entre section */
section:nth-of-type(1),
section:nth-of-type(2),
section:nth-of-type(3),
section:nth-of-type(4),
section:nth-of-type(5) {
    /*     padding-bottom: 50px;
    padding-bottom: 30px; */
}

/* ----------------------------------------- */
/* -----------Section 3: Noticias -----------*/
/* ----------------------------------------- */

/* section:nth-of-type(3) {
    border-top: 2px solid black;
    padding-top: 20px;

    text-align: center;
    font-family: var(--fuenteCuerpo);

    color: var(--colorNegro);

    display: grid;
    grid-template-columns: 600px 600px;
    grid-template-rows: auto auto 200px 200px;

    grid-template-areas:
        "titulo titulo"
        "p p "
        "foto1 foto2"
        "foto1 foto3";

    justify-content: center;
    row-gap: 20px;

    column-gap: 15px;
}

/* -------- TITULO NOTICIAS ---------- */
/* section:nth-of-type(3) h1 {
    grid-area: titulo;

    font-family: var(--fuenteTitulo);
    text-transform: uppercase;
    font-size: 50px;

    margin: 0px auto;
    padding-left: 10px;
    border-left: 10px solid var(--colorRojo);
    transform: skew(var(--torcerTitulo));
}

section:nth-of-type(3) p {
    grid-area: p;
}

section:nth-of-type(3) article:nth-of-type(1) {
    grid-area: foto1;
    text-align: justify;
}

section:nth-of-type(3) article:nth-of-type(2) {
    grid-area: foto2;
    display: flex;
}

section:nth-of-type(3) article:nth-of-type(3) {
    grid-area: foto3;
    display: flex;
}

section:nth-of-type(3) article:nth-of-type(1) figure img {
    width: 100%;
}

section:nth-of-type(3) article:nth-of-type(2) figure img {
    width: 100%;
}

section:nth-of-type(3) article:nth-of-type(3) figure img {
    width: 100%;
}

section:nth-of-type(3) article:nth-of-type(1) h2,
section:nth-of-type(3) article:nth-of-type(1) p,
section:nth-of-type(3) article:nth-of-type(1) a {
    padding-top: 15px;
} */
